.image-align{
width:20px;
height:20px;
margin-left:0px !important;
}

.margin-left{
     margin-left: 77px !important;
}



page-home {
    .fontview{
        font-size: 15px !important;
}
.card-design{
    border-left-style: solid ;
    border-left-color: #5b8eee;
}

}
    